@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("../photo-1493246507139-91e8fad9978e.jfif");
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  background-size: cover;
  min-width: fit-content;
}
